.default-theme {
          --typography-leading-line-height: 150%;
  --typography-leading-font-size: 34.5;
  --typography-leading-font-family: Inter;
  --typography-leading-font-weight: Regular;
  --typography-h1-font-family: Inter;
  --typography-h1-font-weight: Medium;
  --typography-h1-line-height: 70%;
  --typography-h1-font-size: 84;
  --typography-h2-font-family: Inter;
  --typography-h2-font-weight: Medium;
  --typography-h2-line-height: 70%;
  --typography-h2-font-size: 34.5;
  --typography-h2-letter-spacing: 20%;
  --typography-h3-font-family: Inter;
  --typography-h3-font-weight: Medium;
  --typography-h3-line-height: 70%;
  --typography-h3-font-size: 22;
  --typography-h3-letter-spacing: 20%;
  --typography-paragraph-font-family: Inter;
  --typography-paragraph-font-weight: Regular;
  --typography-paragraph-line-height: 150%;
  --typography-paragraph-font-size: 22;
  --typography-small-font-family: Inter;
  --typography-small-font-weight: Regular;
  --typography-small-line-height: 150%;
  --typography-small-font-size: 17.5;
  --color-text-default: #333;
  --color-text-link: #007079;
  --color-text-header: #333;
  --color-table-cell: #fff;
  --color-table-border: #000;
  --color-page-bg: #fff;
  --color-brand-energy-red: #ff1243;
  --color-brand-moss-green: #007079;
  --color-brand-slate-blue: #243746;
  --color-brand-mist-blue: #dff5ff;
  --color-brand-lichen-green: #e6faec;
  --color-brand-spruce-wood: #ffe7d6;
  --color-neutrals-1: #fff;
  --color-neutrals-2: #ccc;
  --color-neutrals-3: #999;
  --color-neutrals-4: #666;
  --color-neutrals-5: #333;
  --color-neutrals-6: #000;
  --text-decoration-link: underline;
  --text-decoration-default: none;
  --text-decoration-underline: underline;
  --text-decoration-none: none;
  --const-f0-mobile: 16;
  --const-f0-desktop: 20.13;
  --const-f0-hd: 22;
  --const-f0-theme: 22;
  --const-n-mobile: 1;
  --const-n-desktop: 1;
  --const-n-hd: 1;
  --const-n-theme: 1;
  --const-r-mobile: 1.2;
  --const-r-desktop: 1.238;
  --const-r-hd: 1.25;
  --const-r-theme: 1.25;
  --const-viewport-hd: 1920;
  --const-viewport-desktop: 1440;
  --const-viewport-mobile: 375;
  --const-font-size-root: 16;
  --scale-slope-0: 0.129;
  --scale-slope-1: 0.194;
  --scale-slope-2: 0.259;
  --scale-slope-3: 0.388;
  --scale-slope-4: 0.55;
  --scale-slope-5: 0.744;
  --scale-slope-6: 1.003;
  --scale-slope-7: 1.327;
  --scale-slope-8: 1.748;
  --scale-slope-9: 2.33;
  --scale-slope-10: 3.074;
  --scale-slope-11: 4.013;
  --scale-intercept-0: 9.016;
  --scale-intercept-1: 10.273;
  --scale-intercept-2: 12.529;
  --scale-intercept-3: 14.545;
  --scale-intercept-4: 16.938;
  --scale-intercept-5: 20.21;
  --scale-intercept-6: 23.739;
  --scale-intercept-7: 28.024;
  --scale-intercept-8: 33.445;
  --scale-intercept-9: 39.263;
  --scale-intercept-10: 45.972;
  --scale-intercept-11: 53.951;
  --scale-type-0: clamp( calc(9.5 / 16 * 1rem), 0.129vw + calc(9.016 / 16 * 1rem), calc(11.5 / 16 * 1rem) );
  --scale-type-1: clamp( calc(11 / 16 * 1rem), 0.194vw + calc(10.273 / 16 * 1rem), calc(14 / 16 * 1rem) );
  --scale-type-2: clamp( calc(13.5 / 16 * 1rem), 0.259vw + calc(12.529 / 16 * 1rem), calc(17.5 / 16 * 1rem) );
  --scale-type-3: clamp( calc(16 / 16 * 1rem), 0.388vw + calc(14.545 / 16 * 1rem), calc(22 / 16 * 1rem) );
  --scale-type-4: clamp( calc(19 / 16 * 1rem), 0.55vw + calc(16.938 / 16 * 1rem), calc(27.5 / 16 * 1rem) );
  --scale-type-5: clamp( calc(23 / 16 * 1rem), 0.744vw + calc(20.21 / 16 * 1rem), calc(34.5 / 16 * 1rem) );
  --scale-type-6: clamp( calc(27.5 / 16 * 1rem), 1.003vw + calc(23.739 / 16 * 1rem), calc(43 / 16 * 1rem) );
  --scale-type-7: clamp( calc(33 / 16 * 1rem), 1.327vw + calc(28.024 / 16 * 1rem), calc(53.5 / 16 * 1rem) );
  --scale-type-8: clamp( calc(40 / 16 * 1rem), 1.748vw + calc(33.445 / 16 * 1rem), calc(67 / 16 * 1rem) );
  --scale-type-9: clamp( calc(48 / 16 * 1rem), 2.33vw + calc(39.263 / 16 * 1rem), calc(84 / 16 * 1rem) );
  --scale-type-10: clamp( calc(57.5 / 16 * 1rem), 3.074vw + calc(45.972 / 16 * 1rem), calc(105 / 16 * 1rem) );
  --scale-type-11: clamp( calc(69 / 16 * 1rem), 4.013vw + calc(53.951 / 16 * 1rem), calc(131 / 16 * 1rem) );
  --font-size-mobile-0: 9.5px;
  --font-size-mobile-1: 11px;
  --font-size-mobile-2: 13.5px;
  --font-size-mobile-3: 16px;
  --font-size-mobile-4: 19px;
  --font-size-mobile-5: 23px;
  --font-size-mobile-6: 27.5px;
  --font-size-mobile-7: 33px;
  --font-size-mobile-8: 40px;
  --font-size-mobile-9: 48px;
  --font-size-mobile-10: 57.5px;
  --font-size-mobile-11: 69px;
  --font-size-desktop-0: 10.5px;
  --font-size-desktop-1: 13px;
  --font-size-desktop-2: 16.5px;
  --font-size-desktop-3: 20px;
  --font-size-desktop-4: 25px;
  --font-size-desktop-5: 31px;
  --font-size-desktop-6: 38px;
  --font-size-desktop-7: 47.5px;
  --font-size-desktop-8: 58.5px;
  --font-size-desktop-9: 72.5px;
  --font-size-desktop-10: 89.5px;
  --font-size-desktop-11: 111px;
  --font-size-hd-0: 11.5px;
  --font-size-hd-1: 14px;
  --font-size-hd-2: 17.5px;
  --font-size-hd-3: 22px;
  --font-size-hd-4: 27.5px;
  --font-size-hd-5: 34.5px;
  --font-size-hd-6: 43px;
  --font-size-hd-7: 53.5px;
  --font-size-hd-8: 67px;
  --font-size-hd-9: 84px;
  --font-size-hd-10: 105px;
  --font-size-hd-11: 131px;
  --font-size-theme-0: 11.5px;
  --font-size-theme-1: 14px;
  --font-size-theme-2: 17.5px;
  --font-size-theme-3: 22px;
  --font-size-theme-4: 27.5px;
  --font-size-theme-5: 34.5px;
  --font-size-theme-6: 43px;
  --font-size-theme-7: 53.5px;
  --font-size-theme-8: 67px;
  --font-size-theme-9: 84px;
  --font-size-theme-10: 105px;
  --font-size-theme-11: 131px;
  --line-height-compressed: 70%;
  --line-height-compliant: 150%;
  --font-family-default: Inter;
  --font-weight-400: Regular;
  --font-weight-500: Medium;
  --letter-spacing-subtitle: 20%;
      }